# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Expo shared files
.expo-shared/

# Expo cache
.expo/cache/
.expo/web-build-cache/
.expo/.virtual-metro-cache/

# VSCode
.vscode/

# iOS & Android native folders (if you ever eject)
ios/
android/

# Logs
expo-debug.log*

# System files
Thumbs.db